*{
    margin: 0;
    padding: 0;
}

.principal{
    width: 60vw;
    height: 80vh;
    background-color: rgb(115, 155, 6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 10px;
}

.dados-do-livro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados-do-livro .titulo-do-livro, .autor-do-livro, .pagina-do-livro{
    width: 30vw;
    height: 10vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

#button{
    width: 15rem;
    padding: .8rem;
    margin: 2rem;
    font-size: 1rem;
}